/* styles.css */

/* Estilos para el listado de exámenes */
.exam-list {
    list-style: none;
    padding: 0;
  }
  
  .exam-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
  }
  
  .exam-item:hover {
    background-color: #f0f0f0;
  }
  
  /* Estilos para el detalle del examen */
  .exam-detail {
    display: none;
    margin-top: 10px;
  }
  
  .exam-item.show .exam-detail {
    display: block;
  }
  
  /* Estilos para los elementos dentro del detalle del examen */
  .exam-detail span {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Estilos para las imágenes */
.exam-detail img {
  max-width: 300px;
  max-height: 300px;
}